* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./Images/img2/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
@font-face {
  font-family: "monster";
  src: url(./FOnt/YuseiMagic-Regular.ttf);
}
.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  background-color: #933ea4;
  background-color: #5a3a8b;
  background-color: #e0393b;
  background-color: #3e5cfc;
  background-color: #eaeaea;
  background-color: #ffffff;
  width: 950px;
  border-radius: 20px;
  margin-top: 20px;
  /* height: 550px; */
  display: flex;
  justify-content: center;
  justify-content: end;

  /* box-shadow: inset 0px 0px 15px #232224, inset 0px 0px 15px #232224; */
  /* box-shadow:  0px 0px 0px, 90px 50px 10px #620d0d4b */
  box-shadow: 0px 0px 20px, 90px 50px 10px #620d0d7e;
  align-items: center;
  gap: 50px;
}

.container-1 img {
  width: 340px;
  height: 100%;
  width: 270px;
  height: 100%;
  border-radius: 20px;
}

.container-2 {
  padding: 10px;
  color: #eaeaea;
  font-family: "monster";
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  background-color: #e0393b;
  width: 50%;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"] {
  padding: 10px 20px;
  font-size: 20px;
  outline: none;
  border: none;
  background-color: #e0393b;
  border-bottom: 2px solid #eaeaea;
  color: #eaeaea;
}

input[type="checkbox"] {
  /* width: 30px; */
  /* height: 30px; */

  background-color: #e0393b;
  margin: 10px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus {
  background-color: #232224;
  color: #e0393b;
  padding: 10px 50px;
  transition: 0.2s ease-in;
  background-color: #fff;
  /* box-shadow: inset 0px 0px 10px rgba(255, 0, 0, 0.177),
    10px 10px 0px rgba(255, 0, 0, 0.328); */

  box-shadow: inset 0px 0px 10px rgba(233, 201, 201, 0.63),
    10px 10px 0px rgba(234, 220, 220, 0.569);
  letter-spacing: 1.8px;
  border-radius: 10px;
}

.btn {
  background-color: #e0393b;
  border: none;
  padding: 12px 63px;
  font-family: "monospace";
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid #fff;
  position: relative;
  display: inline-block;
  overflow: hidden;
  font-family: "monster";
  color: #000;
}

.btn .sub {
  background: transparent;
  border: none;

  cursor: pointer;
  position: relative;
  z-index: 1;
  color: #000;
  font-size: 18px;
}
input::placeholder {
  color: #000;
  opacity: 0.7;
}

.btn::before {
  content: "";
  position: absolute;
  top: var(--y, 50%);
  left: var(--x, 50%);
  transform: translate(-50%, -50%);
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background: #fff;
  transition: width 0.4s ease, height 0.4s ease;
}

.btn:hover::before {
  width: 300px;
  height: 300px;
}
.heading-cross {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.icon a {
  font-size: 50px;
  color: #eaeaea;
  cursor: pointer;
  transition: color 0.2s ease-in;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #e0393b;
  border-radius: 30px;
  border: 1px solid #eaeaea;
  text-decoration: none;
}
.icon a:hover {
  background-color: #eaeaee;
  color: #000;
  box-shadow:  0px 0px 5px #000,  0px 0px 5px #000;
  transition: all 0.2s ease-in;
}

.icon a i {
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: rotate;

}
.icon a i:hover {
  animation-duration: 3s;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 900px) {
  .container-1 {
    display: none;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
}
@media screen and (max-width: 520px) {
  .heading-cross h1 {
    font-size: 20px;
  }
  .icon a i {
    font-size: 22px;
  }
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container-2 {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px #e0393b, 0px 10px 5px #e0393b;
  }

  input[type="text"],
  input[type="number"],
  input[type="password"],
  input[type="email"] {
    font-size: 16px;
    padding: 10px 16px;
  }
}


