.design {
    padding: 10px 70px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px #b8b8b8, inset -5px -5px 15px #ffffff;
    background-color: rgba(192, 192, 192, 0.579);
  margin: 20px;
  border: none;
  outline: none;
  font-family: sans-serif;
  font-size: 1rem;
}
* {
    margin: 0;padding: 0;
}
body {
    font-family: sans-serif;
    background: #ecf0f3;
    background: #c6d0d7;

}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

}

.btn {
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

.font {
    font-size: 1.2rem;
}

.container1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
margin-top: 10px;
}

/* input[type="text"] {
    border-radius: 5px;
    border: none;
    font-size: 1.4rem;
    outline: none;
} */

.show-agriculture-data {
}

.data-design {
    padding: 20px 120px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px #b8b8b8, inset -5px -5px 15px #ffffff;
    background-color: rgba(192, 192, 192, 0.579);
  margin: 0px 0px 20px;
}