
* {
    margin: 0;
  }
  body {
    display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: #000000e3;
      font-family: sans-serif;
      overflow: hidden;
  }

  
  #display {
    background-color: #5050504a;
    background-color:#020202 ;
    color: rgb(0, 140, 254);

  }
  











  .orange {
      background-color: #ff9900dc;
  }
  .dark-grey {
      background-color: #505050;
  }
  

  td:hover {
    background-color: rgb(255, 255, 255);
    color:#000;
    transition: 0.2s ease-in ;
    box-shadow: inset 0px 0px 10px #eaeaea , 0px 0px 5px #eaeaea;
 }

